/*reset*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
:root {
	--main-red-color: #BE3144;
	--main-white-color: #F0F0F0;
	--main-blue-color: #45567D;
	--main-gray-color: #303841;
	--linear-gradient-black: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

._container {
	max-width: 1360px;
	margin: 0 auto;
	height: 100%;
	padding: 15px 25px;
}
._flex-container {
	display: flex;
}

body, a {
	color: var(--main-white-color);
}
hr {
	height: 2px;
    width: 100%;
	background-color: var(--main-white-color);
}
p {
	margin-bottom: 3px;
}
a:hover {
	margin-top: -3px;
	color: #fff;
}


/* HEADER */
.header {
	position: relative;
	height: 100vh;
	background-color: black;
	background-image: var(--linear-gradient-black);
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: var(--main-red-color);
}
.navbar-list {
	display: flex;
	justify-content: end;
}
.navbar-list__elm {
	margin-left: 20px;
}
.navbar-list__link {
	font-size: 1.1rem;
	font-weight: 600;
}

.welcome-section {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.welcome-section__ava-box {
	padding: 10px;
}
.welcome-section__ava {
	width: 100%;
	border: 1.5px solid var(--main-red-color);
    border-radius: 100%;
}
.welcome-section__text-box {
	margin-left: 20px;
}
.welcome-section__title {
	margin-bottom: 10px;
	font-size: 2.5rem;
	font-weight: 600;
}
.welcome-section__subtitle {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--main-red-color);
}

.socials-box {
	margin-bottom: 20px;
	display: flex;
	justify-content: end;
	align-items: end;
}
.socials-list {
	display: flex;
}
.socials-list__elm {
	margin-left: 20px;
}
.socials-list__link {
	display: inline-block;
	font-size: 1.2rem;
	
	position: relative;
	padding-left: 25px;
}
.socials-list__link::before {
	content: '';
	text-align: center;
	position: absolute;
	left: 0;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
}
.codewars-link::before {
	background-image: url(img/codewars.svg);
}
.telegram-link::before {
	background-image: url(img/telegram.svg);
}